# Downloaded genome data
data/raw/*
!data/raw/.gitkeep

# Generated QUAST output
results/quast/

# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# NCBI downloads
*.zip

# Large reference databases
databases/

# Generated Kraken2 output
results/kraken2/